{% extends "layout.html" %}

{% block title %}
Django and Tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Complete Django and Tweet Project</h1>
<a class='btn btn-primary' href="{% url 'tweet_create' %}">Create Tweets</a>

<div class="container row gap-2">

    {% for tweet in all_tweets %}
    
    <div class="card m-4" style="width: 23rem;">
        <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet photo" onerror="this.src='/media/default-placeholder.jpg';">
        <div class="card-body">
          <h5 class="card-title">{{ tweet.user.username }}</h5>
          <p class="card-text">{{ tweet.tweet_text }}</p>
          {% if tweet.user == user %}
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
    </div>
    
    {% endfor %}
</div>

{% endblock %}